//main:main.scss

@import "./turntable.scss";

#landing-page
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    #rx17-text
    {
        transform-origin: 0 100%;
        z-index: 0;
        font-size: 4em;
        letter-spacing: 6px;
        text-align: center;
        font-family: "Syncopate", sans-serif;
        text-transform: uppercase;

        @include breakpoint(sm)
        {
            font-size: 2.9em;
        }

        @include breakpoint(md)
        {
            font-size: 5em;
            letter-spacing: 7px;
        }

        @include breakpoint(xxl)
        {
            font-size: 7em;
        }

        @include breakpoint(xxxl)
        {
            font-size: 10em;
            letter-spacing: 10px;
        }
    }

    #down-arrow-container
    {
        width: 35px;
        position: absolute;
        bottom: 2%;

        @include breakpoint(md)
        {
            width: 40px;
            bottom: 2%;
        }

        @include breakpoint(lg)
        {
            width: 45px;
            bottom: 3%;
        }

        @include breakpoint(xl)
        {
            width: 43px;
            bottom: 2%;
        }

        @include breakpoint(xxl)
        {
            width: 45px;
            bottom: 6%;
        }

        @include breakpoint(xxxl)
        {
            width: 80px;
            bottom: 3%;
        }

        img
        {
            width: 100%;
            height: 100%;
        }
    }
}
