#turntable
{
    width: 250px;
    height: 250px;
    background-color: $turntable-color;
    padding: 20px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    margin-top: 5px;

    @include breakpoint(sm)
    {
        width: 200px;
        height: 200px;
    }

    @include breakpoint(md)
    {
        width: 300px;
        height: 300px;
    }

    @include breakpoint(xxl)
    {
        width: 370px;
        height: 370px;
    }

    @include breakpoint(xxxl)
    {
        width: 450px;
        height: 450px;
    }

    #arm-container
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: flex-end;

        #counterweight
        {
            width: 15%;
            height: 15%;
            border-radius: 50%;
            background-color: $counterweight-color;
            margin: 10px;
            z-index: 2;
        }

        #arm
        {
            z-index: 6;
            width: 60%;
            height: 5%;
            background-color: $arm-color;
            position: absolute;
            top: calc(5px + 7.5% - 2.5%);
            right: calc(9px + 7.5%);
            transform-origin: 100% 50%;
            transform: rotate(-80deg);
        }
    }

    #platter
    {
        width: 100%;
        height: 100%;
        background-color: $record-color;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        .platter-line
        {
            position: absolute;
            border: 2px solid $record-lines-color;
            border-radius: 50%;
            z-index: 4;

            &:nth-of-type(1)
            {
                width: 90%;
                height: 90%;
            }

            &:nth-of-type(2)
            {
                width: 75%;
                height: 75%;
            }

            &:nth-of-type(3)
            {
                width: 60%;
                height: 60%;
            }
        }

        #record-center
        {
            position: absolute;
            width: 35%;
            height: 35%;
            border-radius: 50%;
            background-color: $record-center-color;
            z-index: 1;
        }

        #record-hole
        {
            position: absolute;
            width: 4%;
            height: 4%;
            border-radius: 50%;
            background-color: $record-hole-color;
            z-index: 3;
        }

        #record-highlight
        {
            width: 100%;
            height: 7%;
            background-color: $record-highlight-color;
            opacity: $record-highlight-opacity;
            z-index: 5;
            transform: rotate(-30deg);
        }
    }
}
